@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 10px 200px;
    background-color: #F9F4EF;
    z-index: 1000;
    position: fixed;
    align-items: center;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 1.8em;
    font-weight: 700;
    color: #1F1F1F;
}
nav a{
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.1em;
    color: #5F5F5F;
}
nav a:hover{
    color: #7B3FE4;
}
.main{
    padding: 100px 100px;
    height: 100vh;
    width: 100%;
    background-color: #F9F4EF;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main h2{
    font-size: 1.1em;
    font-weight: 500;
    color: #1F1F1F;
}
.main h2 span{
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
    color: #1F1F1F;
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes typing{
    0%{
        opacity: .4;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.main h3{
    font-size: 1.4em;  
   color: #5F5F5F;

}
.pic img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.btn{
    background-color: #7B3FE4;
    color: #e9e5e5;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 15px;
    transition: 1s;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: #443d50;
    transform: scale(1.1,1.1);
}
.icons a:hover{
    color: #443d50;
}
.icons a {
    color: #7B3FE4;
    display: inline-block;
    font-size: 1.3em;
    margin: 15px 5px;
}
 .title{
    display: flex;
    justify-content: center;
    color: #5F5F5F;
    font-size: 1.6em;
    margin-bottom: 20px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    box-shadow: 0 5px 25px rgba(1,1,1,15%);
    width: 22em;
    margin-right: 15px;
    justify-content: center;
    padding: 25px;
    margin: 15px;
    transition: 1s ease;
}
.card .icon{
    font-size: 3.5em;
    color:#7B3FE4 ;
    text-align: center;
}
.card .front{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #5F5F5F;

}
.card p{
    text-align: center;
}
.card:hover{
   transform: scale(1.1,1.1);

}
.projects{
    margin-top: 20px;
    background-color: #F3E6D3;
}
.projects .title{
    margin-top: 10px;
}
.cards .imgs img{
    width: 15em;
    height: 20em;
    width: 100%;
} 
.cards{
    width: 23em;
    min-height: 15em;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08);
    border: 2px solid white;
    transition: 1s;
    margin-right: 2em;
    margin-top: 2em;
    border-radius: 15px;
    margin-bottom: 2em;
}
.projects .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects .info{
    padding: 10px;
    color: #1F2937;
}
.projects .info p{
    font-size: .9em;
}
.projects .info strong a{
    color: #7B3FE4;
    text-transform: uppercase;
}
.projects .info strong a:hover{
    color: #4f3e77;
}
.projects .info strong{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cards:hover{
    transform: scale(1.1,1.1);
}
.cards img:hover{
    opacity: .9;
}
.footer{
    background-color: #2F2A25;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.footer p{
   color: #F5EFE6;
}
footer .icons{
    padding-right: 5px;
    font-size: .9em;
}
footer p span{
    color: #7B3FE4;
}